Lists
--
> It is similar to arrays.

    > It can contain any type of variable of distinct type

In [1]:
# empty list
st = []
print(st)

[]

In [2]:
st = [1,2,3,4]
print(st)

[1, 2, 3, 4]

In [3]:
st = [1,22.33,"Machine"]
print(st)
print(type(st))

[1, 22.33, 'Machine']
<class 'list'>

In [4]:
st = ['A','B','C','D','E']
print(st[0])
print(st[3])
print(st[-1])
print('A' in st)

A
D
E
True

Lists are mutable. It means we can change an item in a list by accessing it as a part of the assignment statement.

In [7]:
st = ['A','B','C','D','E']
print(st)
st[0] = 'X'
print(st)

['A', 'B', 'C', 'D', 'E']
['X', 'B', 'C', 'D', 'E']

In [8]:
"A" in st

False

In [13]:
# List of lists
l=[1,2,[100,200,300],3,4,5]
# your code goes here53
print(l[0])
print(l[2])
print(l[2][0])
print(l)
l[2][0]=999
print(l)

1
[100, 200, 300]
100
[1, 2, [100, 200, 300], 3, 4, 5]
[1, 2, [999, 200, 300], 3, 4, 5]

In [15]:
l=[1,2,3,4,5]
print(l)
# your code goes here5+4
l.remove(2)
print(l)

[1, 2, 3, 4, 5]
[1, 3, 4, 5]

In [16]:
l=[1,2,3,4,5]
# your code goes here55
l.remove(22)
print(l)

ValueError: list.remove(x): x not in list

In [17]:
l=[1,2,3,4,5]
print(l)
# your code goes here56
del l[1]
print(l)

[1, 2, 3, 4, 5]
[1, 3, 4, 5]

In [18]:
# Concatenation
l1=[1,2,3]
l2=[11,12,13]
l1+l2

[1, 2, 3, 11, 12, 13]

In [21]:
l=[10,11,12]
# your code goes here6
print(sum(l))
print(len(l))
avg = sum(l)/len(l)
print(avg)

33
3
11.0

Traversing a list
--

In [22]:
names=["Darshan","Python Trainer", "Deep Learning Trainer", "ML Trainer"]
for i in names:
    print(i)

Darshan
Python Trainer
Deep Learning Trainer
ML Trainer

In [23]:
names=["Darshan","Python Trainer", "Deep Learning Trainer", "ML Trainer"]
# your code goes here8
for i,e in enumerate(names):
    print(i,e)

0 Darshan
1 Python Trainer
2 Deep Learning Trainer
3 ML Trainer

In [24]:
names=["Darshan","Python Trainer", "Deep Learning Trainer", "ML Trainer"]
# your code goes here9
for i in range(len(names)):
    print(i)

0
1
2
3

In [28]:
# your code goes here1.0
dd = " ".join(names)
print(dd)

Darshan Python Trainer Deep Learning Trainer ML Trainer

In [29]:
# pop method
s=[1,2,3,4,5,6,7,55,44]
# your code goes here11
s.pop()

44

In [30]:
print(s)

[1, 2, 3, 4, 5, 6, 7, 55]

In [31]:
s.pop(1)

2

In [32]:
s

[1, 3, 4, 5, 6, 7, 55]

In [39]:
l1=[3,2,1,5,4]
print(l1)
print(l1[:])
print(min(l1))
print(max(l1))
l1.insert(2,999)
print(l1)
l1.append(777)
print(l1)
l1.sort(reverse=True)
print(l1)
l1.sort()
print(l1)
l1.reverse()
print(l1)
l1.clear()
print(l1)

[3, 2, 1, 5, 4]
[3, 2, 1, 5, 4]
1
5
[3, 2, 999, 1, 5, 4]
[3, 2, 999, 1, 5, 4, 777]
[999, 777, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 777, 999]
[999, 777, 5, 4, 3, 2, 1]
[]

In [40]:
# + concatenates list
l1=[1,2,3]
l2=[2,3,4]
l1+l2

[1, 2, 3, 2, 3, 4]

In [41]:
# * means repetition
[0]*4

[0, 0, 0, 0]

In [42]:
[1,2,3]*5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
# Program to all the letters from list1 that are present in list2
# your code goes here2.1

Tuples
--
> Tuple is similar to a list. However, in tuples, we cannot change the elements after assignment i.e they are immutable.

> Each element or value inside the tuple is called an item.

In [43]:
s = ('y','v','angle')
print(s)
print(type(s))

('y', 'v', 'angle')
<class 'tuple'>

In [44]:
# empty tuple
t = ()
print(t)

()

In [46]:
t = (1)
print(t)
print(type(t))

1
<class 'int'>

In [47]:
t = (1,)
print(t)
print(type(t))

(1,)
<class 'tuple'>

In [48]:
t = (1,2,33.4443,5,6)
print(t[1:3])
print(t[1:])
print(t[:4])
print(t[::-1])
print(t[-5:-1])

(2, 33.4443)
(2, 33.4443, 5, 6)
(1, 2, 33.4443, 5)
(6, 5, 33.4443, 2, 1)
(1, 2, 33.4443, 5)

In [49]:
t1 = (1,2,3)
t2 = (4,5,6)
t1+t2

(1, 2, 3, 4, 5, 6)

In [50]:
t1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [51]:
3 in t1

True

In [52]:
len(t1)

3

In [53]:
max(t1)

3

In [ ]:
# Tuple Assignment
b=("Darshan","PhD","Data Science") # tuple packing
(name,qualification,trainer) = b # tuple unpacking
print(name)
print(qualification)
print(trainer)

In [ ]:
(m,n,o,p)=(1,2,3)

Tuples can be used to return more than one return values.
--

In [54]:
def feed(topel):
    f1=max(topel)
    f2=min(topel)
    return (f1,f2)
z=feed((2,3,1,4,32))
print(z)
print(type(z))

(32, 1)
<class 'tuple'>

In [ ]:
def feed(topel):
    f1=topel+1
    f2=topel-5
    return (f1,f2)
z=feed(2)
print(z)

__Introduction to *args and **kwargs in Python__

In Python, we can pass a variable number of arguments to a function using special symbols. 

There are two special symbols:

>1. *args (Non Keyword Arguments)

>2. **kwargs (Keyword Arguments)

We use *args and **kwargs as an argument when we are unsure about the number of arguments to pass in the functions.

Variable Length Arguments i.e. *args
--

In [ ]:
# your code goes here2+8

Python **kwargs
--

Python passes variable length non keyword argument to function using *args but we cannot use this to pass keyword argument. For this problem Python has got a solution called **kwargs, it allows us to pass the variable length of keyword arguments to the function.

In the function, we use the double asterisk ** before the parameter name to denote this type of argument. __The arguments are passed as a dictionary and these arguments make a dictionary inside function with name same as the parameter excluding double asterisk **.__

In [ ]:
# your code goes here3

__Things to Remember:__

>1. *args and *kwargs are special keyword which allows function to take variable length argument.

>2. *args passes variable number of non-keyworded arguments list and on which operation of the list can be performed.

>3. **kwargs passes variable number of keyword arguments dictionary to function on which operation of a dictionary can be performed.

>4. *args and **kwargs make the function flexible.

In [56]:
# + concatenation
# * repetition
t1=(1,2,3)
t2=(5,6,4,1)
print(t1+t2)
print(t1*3)
print(len(t1))
print(max(t1))
print(min(t1))
print(tuple([1,2,3,4,5,6]))

(1, 2, 3, 5, 6, 4, 1)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
3
3
1
(1, 2, 3, 4, 5, 6)

# List Comprehension

In [62]:
l = []
for i in range(1,11):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [64]:
[ i for i in range(1,11) ]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [66]:
[ i for i in range(1,11) if i%2==0 ]

[2, 4, 6, 8, 10]

In [69]:
l1 = [ i for i in range(1,11) if i%2==0 and i!=6 ]
print(l1)

[2, 4, 8, 10]